<launch>
    <arg name="rosbag_enable" default="false"/>
    <arg name="bag_file_path" default="/home/$(env USER)/Documents"/>

    <include file="$(find livox_ros_driver)/launch/livox_lidar_rviz.launch"/>
    <include file="$(find apx15)/launch/apx15.launch"/>

    </group>
        <group if="$(arg rosbag_enable)">
        <node pkg="rosbag" type="record" name="rosbag_record"
            args="record -a -o $(arg bag_file_path)"/>
    </group>

</launch>